<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303947920344-80upgsocvj31daee69ag9oq8tv5r6k5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303947920344-80upgsocvj31daee69ag9oq8tv5r6k5m</string>
	<key>API_KEY</key>
	<string>AIzaSyAHO8mQO8ExY03TCjnBay7eyZfRLKethN0</string>
	<key>GCM_SENDER_ID</key>
	<string>303947920344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.read.shadow</string>
	<key>PROJECT_ID</key>
	<string>letaoshijie-b6de8</string>
	<key>STORAGE_BUCKET</key>
	<string>letaoshijie-b6de8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303947920344:ios:5c6c6f53379f55d1b1b8ad</string>
	<key>DATABASE_URL</key>
	<string>https://letaoshijie-b6de8.firebaseio.com</string>
</dict>
</plist>